<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="login-area">
      <h1 class="">Shopping List</h1>
      <br>
      <button class="btn btn-danger btn-lg btn-google-auth" {{action "authenticateWithGooglePlus"}}>
        <i class="fa fa-google-plus"></i> Sign in with Google
      </button>
    </div>
  </div>
</div>
